@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 142 100% 95%;
    --foreground: 142 5% 10%;
    --card: 142 50% 90%;
    --card-foreground: 142 5% 15%;
    --popover: 142 100% 95%;
    --popover-foreground: 142 100% 10%;
    --primary: 142 76.2% 36.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 104 30% 85%;
    --muted-foreground: 142 5% 38%;
    --accent: 104 30% 80%;
    --accent-foreground: 142 5% 15%;
    --destructive: 0 100% 38%;
    --destructive-foreground: 142 5% 90%;
    --border: 142 30% 50%;
    --input: 142 30% 38%;
    --ring: 142 76.2% 36.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 142 50% 10%;
    --foreground: 142 5% 90%;
    --card: 142 50% 10%;
    --card-foreground: 142 5% 90%;
    --popover: 142 50% 5%;
    --popover-foreground: 142 5% 90%;
    --primary: 142 76.2% 36.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 104 30% 25%;
    --muted-foreground: 142 5% 60%;
    --accent: 104 30% 25%;
    --accent-foreground: 142 5% 90%;
    --destructive: 0 100% 38%;
    --destructive-foreground: 142 5% 90%;
    --border: 142 30% 38%;
    --input: 142 30% 38%;
    --ring: 142 76.2% 36.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
